#post-1{
    background-image: url(../images/gingerbread-cookies.jpg);
}

#post-2{
    background-image: url(../images/pumpkinchocolatechipcookies.jpg);
}


#post-3{
    background-image: url(../images/banana-bread.png);
}

#post-4{
    background-image: url(../images/mini-cheese-cakes.jpg);
}
#post-5{
    background-image: url(../images/pine-nut-cream-padding.jpeg);
}
#post-6{
    background-image: url(../images/apple-cake.jpg);
}
#post-7{
    background-image: url(../images/chocolate-cake.jpg);
}
