#post-8{
    background-image: url(../images/chocolate-cake.jpg);
}
#post-9{
    background-image: url(../images/chocolate-swiss-roll-cake.jpeg);
}
#post-10{
    background-image: url(../images/chocolate-chips-vanilla-cake.png);
}
#post-11{
    background-image: url(../images/Nutella-Roll.jpg);
}
#post-12{
    background-image: url(../images/chocolate-chips-cookies.jpeg);
}
#post-13{
    background-image: url(../images/Chocolate-Cookies-2.jpg);
}

#post-14{
    background-image: url(../images/christmas-cookies.jpeg);
}
#post-15{
    background-image: url(../images/almond-chocolate-cookies.jpeg);
}
#post-16{
    background-image: url(../images/gingerbread-cookies.jpeg);
}
#post-17{
    background-image: url(../images/blueberry-muffins.jpg);
}
#post-18{
    background-image: url(../images/chocolate-muffins.jpeg);
}
#post-19{
    background-image: url(../images/muffins.jpg);
}
#post-20{
    background-image: url(../images/blueberry-creamcheese.jpg);
}
#post-21{
    background-image: url(../images/pine-nut-cream-padding.jpeg);
}

#post-22{
    background-image: url(../images/chocolate-pudding.jpg);
}

